<%= stylesheet_link_tag "projects" %>
<%= javascript_include_tag "allProjects" %>
<div id="projectTilesContainer" class="clearFix">
	<% Project.all().each do |project| %>
	<%
	if (thumb = project.project_picture.where(:is_thumb => true)).length > 0
		@thumbURL = thumb[0].url
	else
		@thumbURL = "http://placehold.it/250x250"
	end
	%>
	<a href="/projects/<%= project.shortname %>">
	<div class="projectTile">
		<img class="tileImage" src="<%= @thumbURL %>">
		<div class="tileInfo">
			<div class="tileTitle"><%= project.title %></div>
			<div class="tileShortDescription"><%= project.shortDescription %></div>
		</div>
	</div>
	</a>
	<% end%>
</div>