<%= stylesheet_link_tag "projects" %>
<%= javascript_include_tag "project" %>
<div class="decorationOuter"></div>
<div class="projectBox">
	<div class="decorationInner"></div>
	<div class="notification" style="display: <%= @result? 'block' : 'none' %>">
		This project was successfully created.
	</div>
	<div class="projectHeader">
		<div class="projectTitle"><%= @project.title %></div>
		<div class="projectYear">(<%= @project.year %>)</div>
	</div>
	<div class="projectDetails clearFix">
		<% for @picture in @pictures %>
		<div class="detailImage"><img src="<%= @picture.url %>" /></div>
		<% end %>
		<div class="detailsCol">
			<div class="detail" id="detailDescription">
				<div class="detailTitle">Description</div>
				<div class="detailText"><%= @project.longDescription %></div>
			</div>
			<div class="detail" id="detailTechnologies">
				<div class="detailTitle">Technologies</div>
				<div class="detailText"><%= @project.technologies %></div>
			</div>
		</div>
	</div>
</div>