<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "project" %>
<div class="projectContainer">
	<div class="notification" style="display: <%= @result? 'block' : 'none' %>">
		This project was successfully created.
	</div>
	<div class="projectHeader">
		<div class="projectTitle"><%= @project.title %></div>
		<div class="projectYear">(<%= @project.year %>)</div>
	</div>
	<div id="detailsRight">
		<div class="detail" id="detailDescription">
			<div class="detailTitle">Description</div>
			<div class="detailText"><%= @project.longDescription.html_safe %></div>
		</div>
		<div class="detail" id="detailTechnologies">
			<div class="detailTitle">Technologies</div>
			<div class="detailText"><%= @project.technologies %></div>
		</div>
	</div>
	<div id="detailsLeft">
		<% for @picture in @pictures %>
		<div class="detailImage"><img src="<%= @picture.url %>" /></div>
		<% end %>
	</div>
</div>