<!DOCTYPE html>
<html>
<head>
  <title>deltaFunction</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a href="/"><img width=144 height=42 src="<%= asset_path 'logo.png' %>" /></a>
			<div id="nav">
				<div class="navItem"><a href="/projects">PROJECTS</a></div>
				<div class="navItem"><a href="http://blog.deltafunction.co">BLOG</a></div>
				<div class="navItem"><a href="/contact">CONTACT</a></div>
			</div>
		</div>

		<div id="content">
			<%= yield %>
		</div>

		<div id="footer">c. 2013</div>
	</div>
</body>
</html>
